{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true, "parser": "flow"}]
  },
  "extends": [
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard",
    "react-app"
  ]
}
