@import 'variables';
@import 'mixins';

.broadcasts {
  color: $primary;
  font-size: 1.4rem;
  text-transform: uppercase;

  a {
    color: $black;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
  }

  > div,
  &.aired > div {
    display: none;

    @include breakpoint(md) {
      display: block;
    }
  }

  > div:first-child,
  > div:nth-child(2),
  &:not(.aired) > div:nth-child(3),
  &.aired > div:first-child,
  &.aired > div:nth-child(2) {
    display: block;
  }

  &.aired {
    color: $gray;
  }
}
