@import 'variables';
@import 'mixins';

main {
  margin: 0 auto;
  max-width: calc(100vw - 40px);

  $i: 2;
  @each $breakpoint, $value in $grid-breakpoints {
    @if ($value >= $screen-md-min) {
      @include breakpoint($breakpoint) {
        max-width: calc(100vw - #{$i * 20px});

        @if ($value >= $screen-lg-min) {
          padding-left: $menu-width - (($i * 20px) / 2);
        }
      }

      $i: $i + 1;
    }
  }

  @include breakpoint(2100px) {
    margin: 0 40px;
    max-width: 2100px;
  }
}
