@import 'variables';
@import 'mixins';

body {
  padding-bottom: 120px;
}

footer {
  background-color: transparentize($black, .25);
  bottom: 0;
  color: $white;
  font-size: 1.2rem;
  height: $footer-height;
  left: 0;
  line-height: 60px;
  padding: 0 15px;
  position: fixed;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  z-index: $z-index-footer;

  @include breakpoint(md) {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
  }

  ul,
  li,
  nav,
  div {
    display: inline-block;
  }

  svg {
    fill: currentColor;
    vertical-align: middle;
  }

  .menu li:last-child {
    display: none;

    @include breakpoint(sm) {
      display: inline-block;
      margin-left: 20px;
    }
  }
}

#block-medialinks {
  left: 15px;
  position: absolute;
}

.soc-links a {
  height: 23px;
  padding: 0 5px;

  @include breakpoint(lg) {
    margin: 0 5px;
  }

  @include breakpoint(xl) {
    margin: 0 10px;
  }
}
