@import 'variables';
@import 'mixins';

html {
  font: 400 10px 'Source Code Pro', 'Lucida Console', 'Courier New', monospace;
}

body {
  background: $white;
  color: $black;

  &[class*="toolbar"] {
    margin-top: 50px;
  }
}

input {
  color: $black;
}

.feed-icon {
  display: none;
}

p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;

  &:empty {
    display: none;
  }
}

h1,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.9rem;
  line-height: 4rem;
}

h2 {
  color: $acp-red;
  font-size: 1.6rem;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
}

img {
  height: auto;
  width: 100%;
}

a {
  color: currentColor;
  transition: color .5s ease, fill .5s ease;

  &:hover,
  &:active,
  &.active,
  &.is-active {
    color: $acp-red;
  }
}

.hidden {
  display: none !important;
}

.hidden-lg {
  @include breakpoint(lg) {
    display: none !important;
  }
}

#block-alphacontainer-local-tasks {
  z-index: 9999;
}

//overwrite lightbox frame
.lb-outerContainer {
  background-color: transparent;
}

.lb-data .lb-close {
  background: transparent url('../../images/optimized/close.svg') center center no-repeat;
}

.lb-nav a.lb-next {
  background: transparent url('../../images/optimized/next.svg') 95% 49% no-repeat;
}

.lb-nav a.lb-prev {
  background: transparent url('../../images/optimized/prev.svg') 9% 49% no-repeat;
}

.lb-nav a.lb-next,
.lb-nav a.lb-prev {
  background-size: 50px 45px;
  filter: drop-shadow(0 3px 6px transparentize($black, .5));
}

.lb-cancel {
  background: transparent url('../../images/optimized/loading.gif') center center no-repeat;
}
