@import 'variables';
@import 'mixins';

html {
  font: $font-standard;
}

body {
  background: $white;
  color: $black;

  &[class*="toolbar"] {
    margin-top: 50px;
  }
}

input {
  color: $black;
}

.feed-icon {
  display: none;
}

p {
  font-size: $font-size-base;
  line-height: 2.2rem;
  margin-bottom: 1rem;

  &:empty {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font: $font-headline;
}

h1 {
  font-size: 2.9rem;
  line-height: 4rem;
}

h2 {
  color: $primary;
  font-size: 1.6rem;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
}

img {
  height: auto;
  width: 100%;
}

a {
  color: currentColor;
  transition: color .5s ease, fill .5s ease;

  &:hover,
  &:active,
  &.active,
  &.is-active {
    color: $primary;
  }
}

.hidden {
  display: none !important;
}

.hidden-lg {
  @include breakpoint(lg) {
    display: none !important;
  }
}

#block-alphacontainer-local-tasks {
  z-index: 9999;
}
