@import 'variables';
@import 'mixins';

.layout-container {
  @include breakpoint(lg) {
    position: relative;
  }
}

#navigation {
  background: $menu-background;
  font-family: $font-container;
  font-size: 2.7rem;
  left: $menu-width * -1;
  min-height: 100vh;
  position: fixed;
  top: $header-height-xs;
  transition: left $transition-standard;
  width: $menu-width;
  z-index: $z-index-menu;

  @include breakpoint(md) {
    top: $header-height-md;
  }

  @include breakpoint(lg) {
    background: transparent;
    left: 0;
    min-height: 0;
    top: $header-height-lg + 25px;
    width: auto;
  }

  &.open {
    left: 0;
  }

  a {
    background: $black;
    color: $white;
    display: inline-block;
    margin: 10px 0;
    padding: 1px 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background $transition-standard;

    @include breakpoint(lg) {
      margin: 20px 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:hover,
    &.is-active {
      background: $primary;
    }
  }
}
