@import 'variables';
@import 'mixins';

.section-anni-dunkelmann {
  [data-drupal-selector="edit-preview"],
  .content article {
    width: 100%;

    + aside {
      display: none;
    }
  }

  h1, h2, h3 {
    margin: 0.5em 0 1em;
    text-transform: uppercase;
  }

  video, iframe, article {
    max-width: 100%;
  }

  .owl-carousel {
    margin: 0 auto;

    @include breakpoint(lg) {
      width: 500px;
    }
  }
}
