@import 'variables';
@import 'mixins';

.page-anni-dunkelmann {
  #content {
    margin: 0 auto;
    max-width: 965px;
  }

  .basic-page {
    padding: 0;
  }
}

.section-anni-dunkelmann {
  [data-drupal-selector="edit-preview"],
  .content article {
    width: 100%;

    + aside {
      display: none;
    }
  }

  h1, h2, h3 {
    margin: 0.5em 0 1em;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 3.3em;
  }

  video, iframe, article {
    max-width: 100%;
  }
}
