@import 'variables';
@import 'mixins';

.overview-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  h3 {
    //font-family: $container-font;
    //font-size: 1.8rem;
    color: $white;
    font-size: 1.4rem;
    left: 0;
    opacity: 0;
    padding: 0 15px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-shadow: -1px 1px 2px rgba($black, .8);
    top: 50%;
    transform: translateY(-50%);
    transition: opacity $transition-standard;
    width: 100%;
  }

  .item {
    cursor: pointer;
    flex: 0 1 calc(50vw - 30px);
    height: calc((50vw - 30px) * (9 / 16));
    margin-bottom: 20px;
    position: relative;

    @include breakpoint(xs) {
      flex: calc(100vw - 40px);
      height: calc((100vw - 30px) * (9 / 16));
    }

    &:empty {
      height: 0;
      margin: 0;
      padding: 0;
    }

    div {
      background: transparent center center no-repeat;
      background-size: cover;
      height: 100%;
      transition: opacity $transition-standard;
    }

    &:active,
    &:focus,
    &:hover {
      .ios & {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
      }

      div {
        opacity: .7;
      }

      h3 {
        opacity: 1;
      }
    }
  }

  @include breakpoint(md) {
    //.item {
    //  flex: 0 1 66%;
    //  height: 256px;
    //
    //  .page-magazin &,
    //  ~ .item {
    //    flex: 0 1 calc(33% - 10px);
    //  }
    //}

    .item {
      flex: 0 1 calc(33% - 10px);
      height: 256px;
    }
  }

  a {
    text-decoration: none;

    ~ a {
      font-family: $font-family-standard;
    }
  }
}
