@import 'variables';
@import 'mixins';

.pager__items {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;

  li {
    display: inline-block;
    flex: 1 1 auto;
    text-align: center;
  }

  .pager__item--first,
  .pager__item--previous,
  .pager__item--next,
  .pager__item--last {
    flex-shrink: 0;
    text-align: left;
  }

  .pager__item--next,
  .pager__item--last {
    text-align: right;
  }

  a {
    color: $acp-red;
    white-space: nowrap;
  }
}
