.page-formate {
  aside {
    display: none;
  }

  .content {
    display: block;
  }
}

.format {
  .raster {
    display: flex;
    flex-flow: row wrap;

    img, .video {
      flex-basis: 100%;
      margin: auto;
      padding-bottom: 8px;
      width: 0;

      @include breakpoint(sm) {
        padding: 8px;
      }
    }

    @include breakpoint(sm) {
      img {
        flex-basis: 33%;
      }

      .video {
        flex-basis: 66%;
      }
    }

    video {
      width: 100%;
      height: auto;
    }
  }
}
