@import 'variables';

.details-tabs {
  margin-bottom: 20px;

  .tablinks {
    border: 1px solid $border-color-light;
    border-left: 0;
    border-right: 0;
    user-select: none;

    div {
      border-left: 1px solid $border-color-light;
      cursor: pointer;
      display: inline-block;
      margin: 5px;
      padding: 5px 10px;
      position: relative;
      text-transform: uppercase;

      &::after {
        border-color: transparent transparent currentColor transparent;
        border-style: solid;
        border-width: 0 2.5px 2.5px 2.5px;
        content: "";
        height: 0;
        position: absolute;
        top: 50%;
        transform: translate(5px, -50%);
        width: 0;
      }

      &.active {
        color: $primary;

        &::after {
          border-color: currentColor transparent transparent transparent;
          border-width: 2.5px 2.5px 0 2.5px;
        }
      }

      &:first-child {
        border-left: 0;
      }
    }
  }

  //Style the tab content
  .tabcontent {
    box-shadow: nth($material-shadows, 2);
    display: none;
    padding: 6px 12px;

    &.active {
      display: block;
    }

    h3 {
      color: $gray;
      text-transform: uppercase;
    }
  }

  .close {
    color: $gray;
    cursor: pointer;
    text-transform: uppercase;
    text-align: right;
    transition: color $transition-fast;

    &::before {
      content: "✕ ";
    }

    &:hover {
      color: $gray-medium;
    }
  }
}
