@import 'variables';
@import 'mixins';

.page-team {
  .content {
    flex-wrap: wrap;

    @include breakpoint(md) {
      flex-wrap: nowrap;
    }

    > article {
      display: flex;
      flex-flow: row wrap;
    }
  }

  article article {
    flex: 1 1 calc(100% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;

    @include breakpoint(md) {
      flex-basis: calc(50% - 20px);
    }

    @include breakpoint(lg) {
      &:nth-child(even) {
        margin-right: 0;
      }
    }

    @include breakpoint(xl) {
      flex-basis: calc(33% - 20px);

      &:nth-child(even) {
        margin-right: 20px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    h1 {
      color: $primary;
      font-size: 1.8rem;
      text-transform: uppercase;
    }

    h2 {
      color: $gray;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }

  figcaption {
    background: rgba($white, .7);
    bottom: 0;
    color: $black;
    font-size: 1.4rem;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity $transition-standard;
    width: 100%;
  }

  figure {
    outline: none;
    position: relative;

    &:hover,
    &:focus {
      figcaption {
        opacity: 1;
      }
    }
  }
}

