//colors
$black: #000;
$white: #fff;
$acp-red: #e42621;
$gray: #999;
$border-color: $gray;

//Container Font
$container-font: FFContainerRegular, sans-serif;

//z indices
//$z-index-slideshow: 0;
//$z-index-controls: 5;
$z-index-footer: 6;
$z-index-header: 8;
$z-index-menu: 8;
$z-index-logo: 10;

//header
$header-height-xs: 88px;
$header-height-md: 115px;
$header-height-lg: 70px;

//breakpoints
$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 544px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1200px
) !default;

$screen-xs-max: map-get($grid-breakpoints, sm) - 1;
$screen-sm-min: map-get($grid-breakpoints, sm);
$screen-md-min: map-get($grid-breakpoints, md);
$screen-lg-min: map-get($grid-breakpoints, lg);
$screen-xl-min: map-get($grid-breakpoints, xl);

//transitions
$transition-standard: .33s linear;

//text-shadow
$text-shadow: -1px 1px 2px rgba($black, .8);

//logo
$logo-font-size: 37px;
$logo-width: 400px;
$logo-height: 100px;

//menu
$menu-width: 200px;
$menu-background: transparentize($white, .15);

//footer
$footer-height: 60px;

%aside-h2 {
  border-top: 1px solid $border-color;
  color: $black;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  margin: 20px 0;
  padding: 20px 0 0;
  text-transform: uppercase;

  &:first-of-type {
    border: 0;
    margin-top: 0;
    padding-top: 0;
  }
}
